@model IEnumerable<VideoLocadora.MVC.Web.Models.DiretorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Novo Diretor</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Nome Diretor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDiretor)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { Id = item.DiretorId })
                </td>
            </tr>
        }
    </tbody>
</table>
