@{
    ViewData["Title"] = "Home Page";
}
<div class="row d-flex justify-content-center">
    <div class="card m-5" style="width: 18rem;">
        <img class="card-img-top" src="/img/Locacao.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Locações</h5>
            <p class="card-text">Operações de listagem, criação, visualização e edição.</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Locacao" asp-action="Index">Ir para...</a>
        </div>
    </div>
    <div class="card m-5" style="width: 18rem;">
        <img class="card-img-top" src="/img/cliente.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">Operações de listagem, criação, visualização e edição.</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Cliente" asp-action="Index">Ir para...</a>
        </div>
    </div>
    <div class="card m-5" style="width: 18rem;">
        <img class="card-img-top" src="/img/filme.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Filmes</h5>
            <p class="card-text">Operações de listagem, criação, visualização e edição.</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Filme" asp-action="Index">Ir para...</a>
        </div>
    </div>
</div>
</div>