@{
    ViewData["Title"] = "Outras Informaçõess";
}
<div class="row d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="card m-5" style="width: 18rem;">
            <img class="card-img-top" src="/img/genero.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Gêneros Filmes</h5>
                <p class="card-text">Operações de listagem, criação, visualização e edição.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Genero" asp-action="Index">Ir para...</a>
            </div>
        </div>
        <div class="card m-5" style="width: 18rem;">
            <img class="card-img-top" src="/img/Diretor.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Diretor</h5>
                <p class="card-text">Operações de listagem, criação, visualização e edição.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Diretor" asp-action="Index">Ir para...</a>
            </div>
        </div>
        <div class="card m-5" style="width: 18rem;">
            <img class="card-img-top" src="/img/cidade.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cidades</h5>
                <p class="card-text">Operações de listagem, criação, visualização e edição.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Cidade" asp-action="Index">Ir para...</a>
            </div>
        </div>
    </div>
