@model Prototipo.Curso.MVC.Web.Models.LocacaoViewModel

@{
    ViewData["Title"] = "Nova Locação";
}

<h2>Nova Locação</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Cliente</label>
                @Html.DropDownList("ClienteId", (MultiSelectList)ViewBag.clienteViewModelList, new { @class = "form-control" })
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmeId" class="control-label">Filme</label>
                @Html.DropDownList("Filme-select", (MultiSelectList)ViewBag.filmeViewModelList, new { @class = "form-control" })
                <span asp-validation-for="FilmeId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a class="btn btn-primary" onclick="adicionarItemLocacao()" id="adicionaItemLocacao">Adicionar Item</a>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="DataLocacao" class="control-label">Data Locação</label>
                <input asp-for="DataLocacao" id="data-locacao" type="date" class="form-control" />
                <span asp-validation-for="DataLocacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDevolucao" class="control-label">Data Devolução</label>
                <input asp-for="DataDevolucao" id="data-devolucao" type="date" class="form-control" />
                <span asp-validation-for="DataDevolucao" class="text-danger"></span>
            </div>
            <table class="table" id="itens-locacoes" >
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Filme</th>
                        <th>Operação</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
            <br />
            <div class="form-group">
                <a class="btn btn-primary" onclick="enviarLocacao()" id="enviaLocacao">Enviar</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    function adicionarItemLocacao() {

        let texto = $("#Filme-select option:selected").text();
        let id = $("#Filme-select option:selected").val();
        let tbody = $("#itens-locacoes").find("tbody");

        var linha = $("<tr>");
        var colunaId = $("<td>").addClass("id-item").text(id);
        var colunaTexto = $("<td>").text(texto);
        var colunaRemover = $("<td>");

        var link = $("<a>").addClass("remover-item").attr("href", "#").text("remover");

        colunaRemover.append(link);

        linha.append(colunaId);
        linha.append(colunaTexto);
        linha.append(colunaRemover);

        linha.find(".remover-item").click(function () {
            event.preventDefault();
            var l = $(this).parent().parent();
            l.fadeOut(1000);
            setTimeout(function () {
                l.remove();
            }, 1000);
        });

        tbody.append(linha);
    }

    function enviarLocacao() {

        var formData = new FormData();
        
        var idItens = document.querySelectorAll('.id-item');
        
        formData.append("ClienteId", $('#ClienteId').val());
        formData.append("DataLocacao", $('#data-locacao').val());
        formData.append("DataDevolucao", $('#data-devolucao').val());

        for (let i = 0; i < idItens.length; i++) {
            formData.append("filmeId" + i.toString(), idItens[i].textContent);
        }


        $.ajax({
            type: "POST",
            url: '/Locacao/Create',
            dataType: 'Json',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            async: false,
            success: function (data) {
                console.log("Requisição enviada");
            }
        })

        $.get("/Locacao/Index");
    }

</script>


